#AnchoCabecera{

width: 100%;
background-color: red;
height:10%;



}

#menu{

padding-left:5%;
background-color: #E933FF;
height: 10%;

}

#cuerpo{
margin-top: 10px;
margin: 3%;



}

#horizontal{

   padding: 0;
}

#horizontal li {
 display: inline;
 }

ul.horizontal li{
display:block;
float:left;
padding:0 10px;

}


.flex-container {
  display: flex;
  margin: 5px;
}

article.centro{

}







article.abajo:nth-child(1) {
  background-color: #E3FF33;
}

article.abajo:nth-child(2) {
  background-color: #0000ff;
}


article.abajo:nth-child(3) {
  background-color: #e0b0ff;
}

article.abajo:nth-child(4) {
  background-color: #0000ff;
}


article.abajo:nth-child(5) {
  background-color: #e0b0ff;
}
}
